/* 引导页 */
.logo {
    width: 360px;
    height: 72px;
    background: url(../images/guide/logo.jpg) no-repeat 50% 50%;
    background-size: 100%;
}
.bootBg {
    background: url(../images/guide/guideBg.jpg) no-repeat 50% 50%;
    background-size:cover;
}
.signBg {
    background: url(../images/new/logosign.png) no-repeat 10% center;
    background-size: 24%;
}